body {
  background: url(asset/image/bg.jpg) center/cover;
  color: white;
}
h1 {
  font-size: 3rem;
  text-align: center;
}
.boxmain {
  border: 2px solid white;
  background: rgba(245, 245, 220, 0.39);
  color: black;
  font-size: 1.5rem;
}
.boxmain h3 {
  font-size: 2rem;
  text-decoration: underline;
}
